.botao {
    background-color: #222222;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
    transition: 0.3s;
}

.botao:hover {
    color: #000000;
    background-color: #bdbdbd;
    transform: translateY(-3px);
}